[2019-12-04 13:05] kauedesousa opened #1 "Represent time series as spatial object using {stars}"
From R. Bivand comments.

Check for a reasonable way to represent the times series using `stars` [package](https://CRAN.R-project.org/package=stars). Also enable `precip_indices` to return a layered object that can be passed to a geographical analysis.

[2019-12-04 19:38] kauedesousa opened #2 "Error: lexical error: invalid string in json text."
This error occur when data from a large time series is requested (> 1 year). The problem may be in parsing the json file within the function. When I run the code line by line it works perfectly, and returns the chirps data. It also works in the browser.

When chirps is required for a time series of ~ 1 year it works well. But this might be a problem for users trying to capture a full picture of a

[2019-12-06 06:25] adamhsparks commented on #2
I'm poking around and familiarising myself with the package. Will update you if I find anything useful.

Right now I'm overseas, heading home tomorrow.

[2019-12-07 09:45] kauedesousa opened #3 "get_chirps as a S3 method"
From R. Bivand comments.

Write `get_chirps` as a S3 method that can behave different depending on which input is provided. `sf` object, `geojson` or `data.frame`.

[2019-12-08 01:12] adamhsparks commented on #3
Doable. Gives me ideas for `nasapower`

[2019-12-08 11:37] kauedesousa commented on #3
Great! I've started with the default method. Let's check for stability.

[2019-12-11 12:08] adamhsparks commented on #3
I'm out for a few days. Will be back to work early next week

[2019-12-28 12:13] adamhsparks commented on #2
I think I've got it!

The server has a lag between when the request is sent and the data are generate/available for download.

I've added a branch, adam, that has a fix in it, https://github.com/agrobioinfoservices/chirps/blob/d6d0f07a3455250cfd93d2a54f647d99ca4d0320/R/internal_functions.R#L146

It's a crude fix but it illustrates the problem and I think I know how to fix it properly. I just used

[2019-12-28 12:22] kauedesousa commented on #2
Great! I will take a look. I also found yesterday that this problem only happens in Windows. I tried a MacOS and it goes very well. I  changed the way to make the request by using `readLines` which reduce dependencies. It is implemented in the current commit. What do you think about that?

[2019-12-28 12:25] adamhsparks commented on #2
FYI I'm only using macOS and Linux and have the issue with both of them.

I'm all for reducing dependencies. It makes your job as a maintainer easier since there are less changes to deal with externally aside from the API itself, which is often enough.

[2019-12-28 12:43] adamhsparks commented on #2
I don't see what you refer to changing to readLines when I look at the code? httr or crul are still necessary to interface with the API, no?

[2019-12-28 13:24] kauedesousa commented on #2
I forgot to commit the changes, sorry. It is all updated now. I've got the idea of `readLines` from this issue in [stackoverflow](https://stackoverflow.com/questions/49173967/trouble-using-jsonlites-fromjson-with-url-in-r)

[2019-12-28 16:18] billyz313 commented on #2
You should always use the getDataRequestProgress, it starts at 0 percent complete and continues to 100 percent when it is finished processing the request on the server.  If you continue pinging the server with a time interval until it gets to 100 you will be sure that the data is ready in all cases.

[2019-12-28 23:07] adamhsparks commented on #2
Thanks. I wasn't sure which way it went but mentioned using it with while(). That's useful

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology  |  Centre for Crop Health
Institute for Life Sciences and the Environment (ILSE)  |  Research and Innovation Division
University of Southern Queensland | Toowoomba, Queensland | 4350 | Australia

Phone: +61746311948
Mobile: +61415489422
Mobi

[2019-12-30 00:22] adamhsparks commented on #2
I've worked at adding a repeat loop in to check progress, but now no matter what I do. The function was working at one point with the `Sys.sleep()` but now it fails. I get the same error about needing to send an ID with either method. The progress request only returns an error value, `-1`, I've never had success checking progress yet.

[2019-12-31 14:39] kauedesousa commented on #2
I managed to make it work. Now, there is an internal function to check the progress

https://github.com/agrobioinfoservices/chirps/blob/3760fd0f510b115c732ddd2f371f0980f88a919f/R/internal_functions.R#L180

I've added a `while` condition to hold the process until the request is 100% done. And a "funny" `cat` message is added (which can be removed).  https://github.com/agrobioinfoservices/chirps/blo

[2020-01-02 17:05] kauedesousa opened #5 "Prepare for submission to ropensci"
The package is almost ready for submission to ropensci. This is a Milestone proposed to R. Bivand in his course on "Analysing Spatial Data". The package will be also submitted to JOSS. Here some things to do.

To do:

* Write vignette (done!)
* Write paper
* Check consistency with ropensci templates
* Check text and typos

[2020-01-02 17:10] billyz313 commented on #2
@adamhsparks There was an issue with the ClimateSERV server over the holidays which was causing the error you were getting.  It should be running fine again and your code should work.

[2020-01-02 22:34] adamhsparks commented on #5
Happy to help with this since I've written several that are rOpenSci packages and reviewed a few as well.

[2020-01-02 22:34] adamhsparks commented on #2
Thanks, @billyz313, I was rather confused. We've got it working now.

[2020-01-02 22:35] adamhsparks commented on #3
Where are we with this? Is it stable or do we need to work to finalise?

[2020-01-02 22:43] adamhsparks opened #6 "Use tryCatch() for downloads"
It would be good to use a `tryCatch()` when sending the query and downloading files to give users a clear message about what's going on.

[2020-01-02 22:51] adamhsparks opened #7 "Tests need to be more specific and CRAN friendly"
Tests requiring connectivity need to use `skip_on_cran()`.

Some tests could be written to be more specific for checking results from the query to ensure that the function is working properly.

[2020-01-02 22:56] adamhsparks opened #8 "Review use of supressWarnings()"
In queries to the server it is very useful to capture warnings and communication from the server. If we are suppressing them, that's not the most ideal.

I'm all for slimming dependencies but using {httr} or {crul} isn't a bad thing here, I don't think, since they're designed for this and allow for further functionality like checking the server for a response before sending the query and stopping

[2020-01-02 23:17] #6 closed

[2020-01-02 23:26] adamhsparks opened #9 "Correct vignette"
Vignette errors out upon knitting.

[code]

[2020-01-02 23:46] adamhsparks commented on #9
Best that I can tell, there's no "date" col in the `precip_indices()` object and "index", not "pi" is called for creating the graph.

[2020-01-02 23:54] adamhsparks commented on #9
There is no date value to use on the x-axis.

[2020-01-02 23:56] adamhsparks commented on #9
The "bin" col == "date"?

[2020-01-03 00:01] adamhsparks commented on #9
I think this is fixed, @kauedesousa, please check https://github.com/agrobioinfoservices/chirps/commit/76813a1ee15d715e2d6cb99ba11b17a2001e2290 for me.

[2020-01-03 02:51] adamhsparks commented on #5
I have done the following so far today to help prepare for submission to rOpenSci:

* Add codemeta.json using {codemetar}

* Precompute the vignette so that installation is faster, see https://ropensci.org/technotes/2019/12/08/precompute-vignettes/

[2020-01-03 07:05] adamhsparks opened #10 "package title"
For discussion.

Given that the data are mainly known by the acronym, CHIRPS, should we consider shortening the package title in DESCRIPTION to make it more readable and easier to identify?

Current:
`API Client for the Climate Hazards Group InfraRed Precipitation with Station Data`

Proposed:
`API Client for CHIRPS`

or
`CHIRPS API Client`

I'm bringing this up because I honestly wouldn't know wh

[2020-01-03 08:25] kauedesousa commented on #10
Agree with you. I will change to

`chirps: API Client for CHIRPS`

[2020-01-03 08:39] kauedesousa commented on #9
I am not sure why this happens, but it was after https://github.com/agrobioinfoservices/chirps/commit/143d7cddab5f3760d233027667ab874a223549c6

Before that I had changed the function `precip_indices` to return the first day of each 'bin' in the time series, instead of the 'bin' number. Which I found meaningless when I made the plots for the vignette.

https://github.com/agrobioinfoservices/chirps/

[2020-01-03 08:49] kauedesousa commented on #10
Fixed here https://github.com/agrobioinfoservices/chirps/commit/fa5ca50152df7dc0f7aed0e1f46931d151642938. As `chirps: API Client for CHIRPS`

[2020-01-03 08:49] #10 closed

[2020-01-03 08:56] kauedesousa commented on #3
It is stable for 'data.frame' and 'sf'. I am still thinking in how to deal with 'geojson' since I am still getting acquainted with this format. But for the moment the function `.GET` works with a list of geojson Polygons which cannot be recognised by get_chirps.geojson (since it is a list).

My idea for now is restrict the method `get_chirps.geojson` to a geojson Multipolygon and do the conversion

[2020-01-03 09:06] kauedesousa commented on #3
I've started some code for `get_chirps.geojson` here

https://github.com/agrobioinfoservices/chirps/blob/694c9cdef6b4c9acecd06abfbe781514f4216355/R/get_chirps.R#L185

But I removed from v0.0.4 to avoid crap code. I will return to this as soon as I get a better idea on how to deal with it.

[2020-01-03 09:47] adamhsparks commented on #3
If you'd like, we can make a branch just for this feature to keep working on it and keep master clean, or just a development branch in general to work on new features and merge them into master when they're mature enough for release.

[2020-01-03 10:20] kauedesousa commented on #2
I think we are done with this issue 🥇

[2020-01-03 10:20] #2 closed

[2020-01-03 10:21] kauedesousa commented on #3
I think is a good idea.

[2020-01-03 11:48] kauedesousa commented on #9
I am still getting problems to deploy the plots in the vignette. Maybe you can give a try @adamhsparks ?

[2020-01-03 12:59] kauedesousa commented on #8
Agree with you. The idea was to make it simple. But is nice to take advantage of {crul}.

I've added the code you wrote in https://github.com/agrobioinfoservices/chirps/commit/8de5b5b5408c4ca00cde38504ac933b713087562 into the internal functions https://github.com/agrobioinfoservices/chirps/commit/4006ef2d17b146b5e15fed6239b866455531c789

[2020-01-03 13:03] kauedesousa commented on #5
Great! I will start to write the paper.

[2020-01-03 13:26] adamhsparks commented on #9
yeah. tomorrow I'll have a look

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology  |  Centre for Crop Health
Institute for Life Sciences and the Environment (ILSE)  |  Research and Innovation Division
University of Southern Queensland | Toowoomba, Queensland | 4350 | Australia

Phone: +61746311948
Mobile: +61415489422
Mobile: +61415489422
On 3 Jan 2020, 21:48 +1000, Kauê de Sousa

[2020-01-03 22:59] adamhsparks commented on #9
Did you fix this? I didn't have any issues knitting using the precompile.R script.

[2020-01-03 23:05] kauedesousa commented on #9
precompile.R is working fine. But I don't get why the plots are not exported in the html files.

[2020-01-03 23:07] adamhsparks commented on #9
ah! OK. I'll check that

[2020-01-03 23:16] adamhsparks commented on #9
I think it's OK. Your version of pkgdown is out of date and Pandoc is older than mine is, maybe that's the issue?

I've just pushed a new version of the website with the images in the vignette article.

[2020-01-03 23:20] kauedesousa commented on #9
Great! I just updated my Pandoc version to build the paper.

[2020-01-03 23:22] adamhsparks commented on #9
be sure to update pkgdown as well, I suspect that's where the problem is

[2020-01-03 23:37] kauedesousa commented on #5
I just committed the first draft of the paper https://github.com/agrobioinfoservices/chirps/commit/e39feee5809782a149eb9ef1f1b39f406bd1f3a4

Tomorrow I will work on how to add the Fig1.png (or .svg) to the document.

[2020-01-03 23:46] kauedesousa commented on #5
Added the fig but still some work to do.

[2020-01-04 00:02] adamhsparks commented on #5
I've made a few very minor edits to paper.Rmd

[2020-01-04 00:43] adamhsparks commented on #8
I've cleaned up the queries and made the code more specific for each query, as well as adding more checks for errors coming from the server.

[2020-01-05 13:12] kauedesousa commented on #3
I've added some improvements in the methods of class 'sf' and 'geojson' in `get_chirps` and `get_esi`. I restricted the methods to accept only geometries of type 'POINT' and 'POLYGON' in `sf` and 'Point' and 'Polygon' in `geojson`. Also I added a control point were only geojson with a geometry tag are accepted.

https://github.com/agrobioinfoservices/chirps/commit/487c88118544a36b3f3833c6c08a6003e

[2020-01-05 17:06] kauedesousa commented on #5
@adamhsparks, do you think we are ready to send it to ropensci?

[2020-01-06 00:44] adamhsparks commented on #5
I've just pushed a last few minor changes and corrections for the paper and the tests.

Let's do it!

[2020-01-06 00:44] adamhsparks commented on #7
Tests now use `skip_on_cran()`. Will wait for any reviewer feedback for further changes

[2020-01-06 00:45] adamhsparks commented on #9
I think we can close this now?

[2020-01-06 00:45] #8 closed

[2020-01-06 06:39] kauedesousa commented on #9
I am still getting this problem. But since it comes from my PC settings, and I am changing my PC in the next days, I will close that

[2020-01-06 06:40] kauedesousa commented on #5
Great! I will submit.

[2020-01-06 07:08] kauedesousa commented on #5
Submitted https://github.com/ropensci/software-review/issues/357

[2020-01-06 07:25] adamhsparks commented on #9
We don't have to close it. I should check it on my Linux lablet as well I
suppose.

However, once it's accepted for rOpenSci, the build process is automated
for the docs.ropensci.org url.

On Mon, 6 Jan 2020 at 16:39, Kauê de Sousa <notifications@github.com> wrote:

--
Dr Adam H. Sparks
http://adamhsparks.netlify.com/
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Off

[2020-01-06 07:29] kauedesousa commented on #9
OK. Let's keep it open. I also want to try my new pc.

[2020-01-06 15:51] billyz313 commented on #3
Have you tested POINT with the system?  I believe you must buffer the point to a polygon for it to work.

[2020-01-06 16:09] kauedesousa commented on #3
Yes, we create a small buffer around the `Point` and coerce the buffer quadrants into a geojson `Polygon`. The buffer also helps us in preventing `NA`s in ESI for cloudy areas. The user just need to increase the buffer distance.

When the user give us a `Polygon` as 'sf' or 'geojson' it goes directly to the query as it is.

[2020-01-06 16:15] billyz313 commented on #3
Perfect, nice job!

[2020-01-09 21:08] #3 closed

[2020-01-27 09:07] kauedesousa opened #11 "outputs as data.table"
`get_chirps` and `precip_indices` may return large data sets that can cost some memory. Check if is wise and acceptable by users to return a `data.table` object instead of a `tbl_df`.

[2020-01-27 21:36] adamhsparks commented on #11
I've started using data.table in most of my packages. This is a valid thought. You can import the whole package, data.table, with little overhead and no other dependencies.

[2020-01-28 07:41] adamhsparks commented on #11
I should add. Some might balk at importing the whole package. I don't see an issue in this case, but there are cases to be made against it.

[2020-01-31 10:14] kauedesousa commented on #5
I have started the updates from the first comments/suggestions we got in the rOpenSci review. There is a folder [here](https://github.com/agrobioinfoservices/chirps/tree/master/reviewer_comments) with the point-to-point response to each comment. I couldn't go further because the server is not working. It generates the ids but do not return the data from the request (in R and using the example prov

[2020-01-31 10:24] adamhsparks commented on #5
Thanks.

I read through it. A few thoughts to help you.

1. The /man structure is part of using the pre-built vignettes. I'm not aware of any issues with it. CRAN hasn't baulked at it and I just submitted two package updates that use this method in the last month.

2. The tests use `skip_on_cran()` due to CRAN policies for Internet connectivity. You'll get a nastygram and have the package pulled i

[2020-02-02 10:02] Robinlovelace opened #12 "Timeout when trying to get data for Peru"
Minimal reproducible example below (which was originally of Honduras, hence object name) - with `withTimeout()` to show timeout (I waited over a minute but still got no response):

[code]

<sup>Created on 2020-02-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

Great idea for a package, FYI here's some analysis

[2020-02-02 17:26] kauedesousa commented on #12
Hi @Robinlovelace thanks for using the package and for submitting an issue.

I am also having this problem. I think there is some problem in ClimateSERV server. I tried to run the example from their API documentation and it is not working as well.

@billyz313 , can you help us?

https://climateserv.servirglobal.net/chirps/submitDataRequest/?datatype=0&begintime=04/01/2018&endtime=04/30/2018&interv

[2020-02-02 17:46] Robinlovelace commented on #12
No problem, glad the issue is of use and hope issues with the server get resolved.

[2020-02-03 07:36] kauedesousa commented on #12
Hi @Robinlovelace, I just tried again using your example and it is working fine.

Let me know if it works for you as well.

[2020-02-03 09:44] Robinlovelace commented on #12
I still get an error message:

[code]

<sup>Created on 2020-02-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-02-03 09:46] Robinlovelace commented on #12
But if I increase the timeout to 20s it works 🎉

[code]

<sup>Created on 2020-02-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-02-04 13:40] billyz313 commented on #12
I believe the timeout should help, but it is still problematic.  We are in the process of planning out some upgrades that should help this and be able to handle multiple simultaneous calls.

[2020-02-04 15:12] kauedesousa commented on #12
That is great @billyz313

[2020-02-04 15:13] #12 closed

[2020-02-04 15:16] kauedesousa commented on #7
Adam's comment in this issue https://github.com/agrobioinfoservices/chirps/issues/5, but which should work here as well.

[2020-02-05 14:30] kauedesousa commented on #7
I've made some improvements in the main functions. Downloaded data from ClimateSERV and compared with the ones retrieved by the functions. But I don't test for all S3 methods, which makes the codecov a bit low. But I think that for now the most important part is covered, the functions return/compute the right values.

[2020-02-10 21:06] adamhsparks commented on #7
I've tried to use vcr in our tests over the weekend. It doesn't work, it's not us, it's vcr.

I've opened an issue, https://github.com/ropensci/vcr/issues/147.

My changes are in the devel branch right now until it stabilises.

[2020-03-04 00:32] adamhsparks commented on #7
vcr now works with the coming 0.5 release that's been submitted to CRAN. This is implemented in the devel branch until vcr is on CRAN, then I'll merge with master.

[2020-03-04 00:35] adamhsparks commented on #7
@kauedesousa, coverage for `get_ESI`() is a bit low, do we need to improve that?

[2020-03-04 00:48] adamhsparks commented on #9
I've finally checked this on my Linux tablet. Everything builds fine in the vignette for me using that machine.

[2020-04-01 18:59] kauedesousa commented on #7
Sorry for the long silence. Yes, lets make more tests for `get_ESI()`. The next days I will work on the comments provided in the last review and check that as well.

[2020-04-01 21:17] adamhsparks commented on #7
No worries. Given all that’s going on I was more concerned for your health than for the package. Hope all is well with you.

[2020-05-04 12:50] kauedesousa commented on #11
I've added a `print()` method `print.chirps_df()` which basically resembles the data.table method. 34aff04.

Like this

[code]

So now the function returns a data.frame and the user decides if s/he uses tibble or data.table

[2020-05-04 12:53] kauedesousa commented on #7
I am doing fine so far. I've addressed the comments from [reviewer 2](https://github.com/agrobioinfoservices/chirps/blob/master/reviewer_comments/reviewer2_comments.md). If you can, please take a look, and let me know if you agree in submitting the reviewed pkg.

[2020-05-05 01:20] adamhsparks opened #14 "According to CRAN policy, server failures should not be R errors"
CRAN has a policy (which I don't agree with) that server response failures should fail "gracefully" without an error message. To me, I'd prefer the script to stop and give me an informative message as we've done in chirps. I know I have a collaborator who contacted me after I made this change as well because they were using a `tryCatch()` to wrap a function from bomrang and this broke that functio

[2020-05-05 11:01] adamhsparks opened #15 "Documentation examples don't run"
I've made a few corrections to the `get_chirps()` `@examples` section, but the S3 method for class sf point does not work and need to be fixed before resubmitting our response to the reviewers.

The object, `tp_points` is not defined but is called on line 72.

I replaced `example()` with `data()` on line 68.

[2020-05-06 18:52] kauedesousa commented on #15
I'll check that. Also, I got another error that probably has something to do with the new version of pkg `sf`.

[2020-05-22 11:17] #11 closed

[2020-05-22 11:18] #9 closed

[2020-05-22 11:19] #7 closed

[2020-05-22 11:20] #1 closed

[2020-05-22 13:16] kauedesousa commented on #15
I am not sure why this is not working. After many tries I decided to take away the examples using sf objects (but keep the ones in the vignette).

[2020-05-22 13:16] #15 closed

[2020-05-22 13:24] kauedesousa commented on #14
I looked at the documentation and it seems that you already did this, am I right?

[2020-05-23 03:46] adamhsparks commented on #14
Hah, maybe I did! I need to recheck. I thought I saw some `tryCatch()` that ended in a `stop()` function

[2020-05-23 11:25] adamhsparks commented on #14
Not sure what I saw, you're right though! Sorry for the false alarm

[2020-05-23 11:25] #14 closed

[2020-05-23 11:28] adamhsparks commented on #5
I think we're ready to go back to the reviewers now. I don't find anything else outstanding.

[2020-05-23 12:09] kauedesousa commented on #5
Great! I just sent it.

[2020-05-23 12:12] kauedesousa commented on #15
Extending the explanation on why I removed the examples. It goes fine in the R CMD checks in my machine. The earlier problem was related to one update made in the `sf` package. But I removed the examples because they break in the Travis tests, due to some missing detail in the yml setup which is quite annoying. That is the reason I decided to remove the `sf` examples.

[2020-05-23 23:20] adamhsparks opened #16 "Move CI from Travis to Actions?"
I was thinking to move the CI here to GitHub using Actions.

There are issues with installing some of the geo packages for the devel version of R with that though, but you can easily test Windows, macOS and Linux in one spot.

Are you OK with this, @kauedesousa?

[2020-05-24 04:59] kauedesousa commented on #16
Yes I am ok with this. Never used before, so it will nice to see how it works.

[2020-05-24 06:58] adamhsparks commented on #16
Working! https://github.com/agrobioinfoservices/chirps/actions/runs/113737382

![R-CMD-check](https://github.com/agrobioinfoservices/chirps/workflows/R-CMD-check/badge.svg)

[2020-05-25 18:38] kauedesousa commented on #16
this is great! And seems less complicated than Travis when integrating with geo pkgs

[2020-05-25 22:32] #16 closed

[2020-06-25 07:55] kauedesousa opened #18 "get_chips local"
Maybe we could write a function to download chirps from the ftp server as an alternative service to `get_chirps()`.  What do you think @adamhsparks ?

[2020-06-25 07:56] kauedesousa opened #19 "CHIRTS temperature data is available"
Funk et al recently released CHIRTS (temperature). I will keep track on how it goes and look for any API service to be implemented

https://www.chc.ucsb.edu/data/chirtsdaily

[2020-06-25 22:54] adamhsparks commented on #18
Are you thinking to just use R as an FTP client only and download the files without loading them in the current R session?

[2020-06-25 22:59] adamhsparks commented on #19
This looks fairly straightforward to interface with, http://data.chc.ucsb.edu/products/CHIRTSdaily/

`GSODR` dealt with NCDC's FTP server for most of its life, this would be even easier to work with since it's an HTTP request.

[2020-06-25 23:37] adamhsparks opened #20 "Documentation error with R under development"
`##[warning]Non-file package-anchored link(s) in documentation object 'dataframe_to_geojson.Rd':
  ‘[sf]{st_buffer}’`

It's because `st_buffer()` contains help for several functions, https://stackoverflow.com/questions/62420464/non-file-package-anchored-links-in-documentation-object.

I've attempted to fix this. I think I have it right. https://github.com/agrobioinfoservices/chirps/commit/f7ee261c

[2020-06-26 00:59] adamhsparks commented on #20
Fixed in https://github.com/agrobioinfoservices/chirps/commit/910efbe919f36a35f685926a2024e8de24a82c60

[2020-06-26 00:59] #20 closed

[2020-06-26 01:01] adamhsparks commented on #18
Or are you suggesting something like [`reformat_GSOD()`](https://docs.ropensci.org/GSODR/reference/reformat_GSOD.html) that works on local files only and doesn't download?

[2020-06-26 08:10] kauedesousa commented on #18
Any solution that will help users (including myself) in piping this data into analyses for large areas (regions, continents). My first idea was an FTP client only and download the files to the disk. I tried `get_GSOD()` and it seems also a nice approach.

But I am not sure if this distracts for the main purpose of the package. Ideally ClimateSERV could provide a service like NASA Power were we fet

[2020-06-26 08:25] kauedesousa commented on #18
I've consulted ClimateSERV here https://github.com/SERVIR/ClimateSERV/issues/3

[2020-06-26 09:04] adamhsparks commented on #18
I think keeping it as just a client is ideal. It keeps our responsibilities for the package simple.

*Tangent* I'm working on simplifying `nasapower` further to only fetch data and not write any specialised file formats. There's a DSSAT R package and a new APSIM package coming along that users can use if they desire something like that.

[2020-06-26 09:25] kauedesousa commented on #18
Great!

[2020-06-29 02:35] xuxoramos opened #21 "Offer alternative datasets from ClimateServ, like IMERG"
Given that ClimateServ's precipitation data has stopped updating around May 14th, and that IMERG has recently been added, and that, according to [this paper and its lit review](https://www.researchgate.net/publication/331563685_Assessment_of_Satellite-Based_Precipitation_Measurement_Products_over_the_Hot_Desert_Climate_of_Egypt), IMERG is more accurate than CHIRPS (but less accurate than JAXA's GS

[2020-06-29 20:55] #5 closed

[2020-07-01 09:46] kauedesousa commented on #21
Thanks! @xuxoramos, I will check this with @adamhsparks. But I think that the most reasonable solution is to add a new function to fetch the IMERG. I will check the API.

[2020-07-01 09:46] kauedesousa opened #22 "prepare from CRAN submission"
Check for any possible issue before sending to CRAN. What to you think @adamhsparks ?

[2020-07-01 10:59] adamhsparks commented on #22
Sounds good. I just ran a few preflight checks and fixed a few issues that I found.

I assume you'll be using `devtools::release()`?

[2020-07-01 11:08] adamhsparks commented on #21
Always room for more functions.

[2020-07-01 12:26] kauedesousa commented on #21
I have added the function `get_imerg()` and indeed it returns a very different rainfall data. Yet, I still rely on CHIRPS.

[code]

![image](https://user-images.githubusercontent.com/29840771/86243534-d9b98200-bba6-11ea-93d6-2fdb0758b391.png)

[2020-07-01 12:58] kauedesousa commented on #21
Well, it seem that IMERG is for rainfall accumulation. That maybe the reason for the high peaks in the chart.

[2020-07-01 13:29] kauedesousa commented on #22
Submitted. I never used `devtools::release()`, but I found fantastic! I am waiting for CRAN comments.

[2020-07-01 21:01] #21 closed

[2020-07-01 21:25] adamhsparks commented on #22
Yes, the checks are extremely useful.

[2020-07-02 07:23] kauedesousa opened #23 "S3 method to concatenate geojson objects"
The functions `data.frame_to_geojson()` and `sf_to_geojson()` could be simplified with `as.geojson()`. This may provide a clean documentation and easy debugging pipeline.

[2020-07-05 12:59] #22 closed

[2020-07-12 14:24] kauedesousa commented on #23
Done here https://github.com/ropensci/chirps/commit/4d0e8ea3af253fcf4b2b4b84318f5c727ec7a931

[2020-07-12 14:24] #23 closed

[2020-07-13 18:40] kauedesousa opened #24 "Odd vignette on CRAN"
Somehow the vignette on CRAN is odd. The citations keys are not working and authors are not showing. Check for the reasons on that issue.

https://cran.r-project.org/web/packages/chirps/vignettes/Overview.html

[2020-07-13 23:02] #24 closed

[2020-07-13 23:02] adamhsparks commented on #24
there were missing spaces in the the RMD.orig file

[2021-02-13 12:45] CarlosAndres12 opened #26 "chirps stuck at the example."
I don't know if i am doing something wrong, but i am stuck at the example for the past 30 minutes.

![image](https://user-images.githubusercontent.com/8310276/107850293-5cf2b580-6dcf-11eb-9eb5-dded7094b1b4.png)

Is there something that i can check?

Thanks.

[2021-02-13 19:51] billyz313 commented on #26
I confirmed that CHIRPS was stuck.  I restarted the system, please try again to confirm that it works for you now.

[2021-02-13 20:57] CarlosAndres12 commented on #26
It solved the issue thanks!

[2021-02-14 01:12] #26 closed

[2021-05-06 12:24] pahanc opened #27 "Chirps data fetching not working"
Hi, I am a mac user with RStudio version 4. I am finding that the data fetching script in the Readme is not able to fetch the data. I am running the following commands (directly from the Readme):

lonlat <- data.frame(lon = c(-55.0281,-54.9857, -55.0714),
                     lat = c(-2.8094, -2.8756, -3.5279))

dates <- c("2017-01-01", "2017-12-31")

dat <- get_chirps(lonlat, dates)

At this poin

[2021-05-07 07:50] kauedesousa commented on #27
Hi @pahanc

I think this issue was due to some maintenance in the ClimateServ server, which was also reported some months ago (https://github.com/ropensci/chirps/issues/26#issue-807743172).

I just tested and it is working fine. Can you confirm that it is working from your side?

When this issue happens with the function, I try to check if the server is working with this path (copy and paste on my

[2021-05-07 08:49] pahanc commented on #27
Hi Kaue de Sousa, thanks for your reply. I have just checked it again and
it works fine now.
All the best,
Penny

On Fri, May 7, 2021 at 8:51 AM Kauê de Sousa ***@***.***>
wrote:

[2021-06-10 00:19] ani-ghosh opened #28 "Use CHIRPS CoG tiles"
Hey,
@kauedesousa, @adamhsparks
Thanks to [Pete Peterson](https://chc.ucsb.edu/people/pete-peterson), CHIRPS daily global tiles are now available as Cloud Optimized GeoTiffs (CoG) that can provide an alternative to ClimateSERV API and significantly improve the data access time, as well as support more generic request formats. Here is an example. Please feel free to integrate it with the current fu

[2021-06-11 07:34] kauedesousa commented on #28
Thanks Ani, this is a great improvement. Now I have many other tasks to complete, but I will implement this asap.

K

[2021-06-21 18:17] kauedesousa commented on #28
Hi @adamhsparks I started to work in this updates but I am wondering how should we proceed. Should we put this new method in the internal functions and implement across `get_chirps()` or should we write a new function `getCHIRPS()` or `get_chirps_goc()`?

What do you suggest?

K

[2021-06-21 18:18] kauedesousa commented on #28
Maybe a function `getCHIRPS()` and a deprecated notice in `get_chirps()`?

[2021-06-21 22:20] ani-ghosh commented on #28
I think it would be good to keep both, and and add a `source` argument in the `get_chirps` function. Could be useful when one of the servers are not working or let's say not updated.

[2021-06-21 22:56] ani-ghosh commented on #19
Maintaining the same structure as CHIRPS
[code]

[2021-06-23 13:04] kauedesousa commented on #28
I have updated to code in `get_chirps()` here https://github.com/ropensci/chirps/commit/2f2edd955ba88af1f67e665eb510ad48dc327d19 to deal with both servers . Please try it and give comments/suggestions.

[code]

[2021-06-23 17:53] kauedesousa commented on #27
Now you can use the new solution available from chirps (>= 0.1.3) as I show here https://github.com/ropensci/chirps/issues/28#issuecomment-866817419

[2021-06-23 18:18] kauedesousa commented on #18
This issue is solved with this alternative https://github.com/ropensci/chirps/issues/28

[2021-06-23 18:18] #18 closed

[2021-06-23 18:18] #27 closed

[2021-06-23 19:34] kauedesousa commented on #19
Added here, with some changes to maintain the pkgs main structure https://github.com/ropensci/chirps/commit/9d092bad45adcd4b17219923f37ddac85338c9c3

[code]

[2021-06-24 07:17] adamhsparks commented on #28
Sorry, I've been a bit busy these past few days. I do like the idea of specifying the source in the currently existing function though.

[2021-08-29 05:48] adamhsparks commented on #19
Is there something with the RHum that I'm unaware of?

The README says it's available, yet when I try the following,

[code]

I get this error,

[code]

I've tried other dates to no avail.

[2021-08-29 06:12] adamhsparks commented on #19
Ah, I found the issue. Will fix and push shortly.

[2021-08-29 08:02] adamhsparks opened #29 "Using \donttest for examples is no longer suggested"
CRAN decided to start testing `donttest{}` examples without telling anyone until they test and your package fails.

I've moved _nasapower_, which failed, to use the new `examplesIf` from the development version of _roxygen2_. You just need to install it from GitHub, _e.g._ `remotes::install_github("r-lib/roxygen2")`
and then the example portion becomes:

[code]

[2021-08-29 12:36] adamhsparks commented on #29
Closed with https://github.com/ropensci/chirps/commit/956e19ee2adbc1de2c889861aab83c48ff1d4652

[2021-08-29 12:36] #29 closed

[2021-08-29 13:14] adamhsparks opened #30 "1 NOTE on package check"
[code]

[2021-08-29 13:22] adamhsparks commented on #30
@kauedesousa, can you please check this commit, https://github.com/ropensci/chirps/commit/749fe35f71b9a9f6c07214a8384fbc1a0581c5a9 I think it fixes the issue without breaking anything. The package passes checks at least locally for me.

[2021-08-29 13:55] adamhsparks opened #31 "Tests fail"
I was troubleshooting some of the tests when I found discrepancies in the precip indices.

This is from https://github.com/ropensci/chirps/blob/7f60a8e6f9ddcf89f79179af4f5911a446e4a2ff/tests/testthat/test-get_chirps.R#L13

[code]

I didn't go further as it's getting late here. Just flagging this to follow up later.

[2021-08-31 08:47] kauedesousa commented on #31
Thanks @adamhsparks I am in the middle of other tasks but I will take a look asap

K

[2021-08-31 08:58] adamhsparks commented on #31
No worries. I didn't mean to hurry you. Just flagging this so we're aware.

[2021-09-15 06:08] adamhsparks opened #32 "Not possible to get data for only one or two days"
This line checking the dates, https://github.com/ropensci/chirps/blob/7f60a8e6f9ddcf89f79179af4f5911a446e4a2ff/R/internal_functions.R#L303,
[code]
works such that if I wanted to fetch data for 2015-01-15 - 2015-01-16 _chirps_ will fail with the error message that the dates are out of sync with available data or that they are reversed (twisted).

[2021-09-15 06:09] adamhsparks commented on #32
It also means you can't fetch data for just one day.

[2021-09-15 06:14] adamhsparks commented on #32
@kauedesousa, I've implemented a fix. I'll write some tests to be sure that there aren't unintended side-effects.

https://github.com/ropensci/chirps/commit/800ba7075c1e6212019d11658f0481e19713c364

[2021-09-20 07:39] maelle opened #33 "Make it easier to load the test data outside of tests?"
E.g. by putting it in `tests/testthat/` and using `testthat::test_path("test_data.rda")` to find the right path (which works inside and outside of tests).

[2021-09-20 08:24] adamhsparks commented on #33
I was not aware of this, but thought maybe there was a better way. 🙏

[2021-09-20 09:27] maelle commented on #33
That testthat function is actually the inspiration for [`vcr::vcr_test_path()`](https://docs.ropensci.org/vcr/articles/debugging.html#prepare-your-debugging-environment-1), so handy!

[2021-09-20 09:54] #33 closed

[2021-09-23 01:33] adamhsparks opened #35 "get_chirts() fails with uninformative message"
Trying to fetch CHIRTS data for years that are unavailable does not return an informative message.

[code]

A combination of `if()` and `stop()` should be used to provide the user with an informative message.

[2021-09-23 01:55] adamhsparks opened #36 "get_chirts() does not allow fetching only one day"
[code]

[2021-09-23 02:48] adamhsparks commented on #35
Closed with https://github.com/ropensci/chirps/commit/5874ef19ca42059d7da9c4a4632e0f98192b0e4a

[2021-09-23 02:48] #35 closed

[2021-09-23 02:49] adamhsparks commented on #31
I've done quite a bit of work on the tests in the `devel` branch. I've isolated some of the issues with _vcr_ cassettes thanks to @maelle. I'm adding more tests for some of the uncovered functionality as well.

[2021-10-22 11:25] adamhsparks opened #38 "ClimateSERV server results in a failure"
_e.g._,

[code]

[2021-11-11 17:26] eggenm opened #39 "Chirps/UCSB changed its urls - get_chirps returns null for rainfall"
In the last couple weeks, the url changed for chirps. No get_chirps does not return any values for rainfall. It returns -9999 . This is the new https url, as I understand it:
https://data.chc.ucsb.edu/products/CHIRPS-2.0/

[2021-11-11 17:59] eggenm commented on #39
Maybe its not the url, but something changed. I also tried the example code and the vignette (returned sf related warnings) to take my code out of the mix and still got -9999:

+                      lat = c(-2.8094, -2.8756, -3.5279))

Getting your request...

         id    lon   lat       date   chirps
      <int>  <dbl> <dbl>     <date>    <dbl>
1:        1 -55.03 -2.81 2017-01-01 -9999.00
2:

[2021-11-11 18:03] kauedesousa commented on #39
Dear @eggenm thanks for reporting the issue. This is a change in the API provider. Unfortunately we weren’t able to make the update in the package. I plan to do it in the next week. Sorry if this may cause any delays in your planned tasks using the package.

K

[2021-11-11 18:05] eggenm commented on #39
No worries, Thank you!  I appreciate it.

[2022-01-03 15:28] jdnmiguel opened #40 "Error: Internal server Error HTTP 500"
I have tried to download some data using the following code:

which results in the following error message:
 

I thought the problem came from my laptop, but I tried with two different and got the same issues. Do you know where it might come from?

Thank you!

[2022-01-13 10:56] kauedesousa commented on #40
HI @jdnmiguel ,

We found an issue in the URLs for the API requests using ClimateSERV. The issue is solved now in chirps v0.1.4 https://github.com/ropensci/chirps/commit/7ce954201962a330812846353d15370e2cdccdfa

Also when you find problems using ClimateSERV, please use the (NEW) default server CHC.

[code]

Now you need to indicate that you want the data from ClimateSERV

[code]

I will send this

[2022-01-13 10:57] kauedesousa commented on #39
Hi @eggenm please look the comment on this issue #40

[2022-01-13 10:57] #39 closed

[2022-01-14 19:33] #28 closed

[2022-01-14 19:33] #19 closed

[2022-01-14 19:33] #30 closed

[2022-01-19 01:10] samyadelara opened #41 "CHC data not available on specific date"
Hello dear ropensci/chirps team!
I am facing an issue with a specific date when downloading CHIRPS data from CHC. The issue seems to be related to _2018-04-01_.
Using the code presented below, I've been able to download data from 2010 up to march 2018. Also, I tested staring with _2018-04-02_ on, and the data was retrieved. I also tried from ClimateSERV, with no sucess...

Do you have any suggesti

[2022-01-19 03:09] adamhsparks commented on #41
This is not an issue with _chirps_, see the last line, the error message indicates the file does not exist on the server. Best to contact the CHIRPS/CHIRTS team about the missing data.

[2022-01-19 13:32] kauedesousa commented on #41
hi @samyadelara @adamhsparks I checked the CHC file base and the dates are there https://data.chc.ucsb.edu/products/CHIRPS-2.0/global_daily/cogs/p05/2018/

Also I tried to run the example (with the Tapajos data) and it worked well. @samyadelara Could you try again? And if the problem persists, could you try to send a reproducible example where I can test the issue?

[code]

[2022-02-23 19:26] #40 closed

[2022-02-23 19:26] #38 closed

[2022-04-18 07:00] adamhsparks opened #42 "as.raster = TRUE doesn't return a raster object"
[code]

results in

[code]

A `data.frame` object.

[2022-04-18 07:08] kauedesousa commented on #42
I think it only works if the server is CHC.

[2022-04-18 07:09] adamhsparks commented on #42
OK, there's no error or checks if the wrong server is used. I'll investigate further.

[2022-04-18 07:11] adamhsparks commented on #42
Yes. You are correct. I'll implement a fix to emit a message and switch servers.

[2022-04-18 07:19] adamhsparks commented on #42
ah, I see, it has to be a raster input. This is easier to fix. Update the documentation. :)

[2022-04-18 07:32] adamhsparks commented on #42
Or maybe I just didn't read the docs closely enough. 😬

[2022-04-18 07:32] #42 closed

[2022-04-20 05:25] adamhsparks opened #43 "get_chirps using a SpatRaster?"
I'm working on writing tests to improve the test coverage for the package (and hopefully stop the automated e-mails that the tests failed).

Right now I'm working on `get_chirps()` for the `SpatRaster` method but I'm getting an error.

[code]

Results in an error.

[code]

Am I just using the function incorrectly?

[2022-08-01 18:06] albirayi opened #44 "Extracting time series"
extnt <- as(extent(c(xmin= 31, xmax= 49, ymin= 2, ymax= 20)), 'SpatialPolygons')
crs(extnt) <- "+proj=longlat +datum=WGS84 +no_defs"
area <- ext(extnt)
dates <- c("2017-12-15","2017-12-31")
get_chirps(area, dates, server = "CHC", as.raster = TRUE)

this worked well for me to extract data for the given extent. However, I could not able to extract sample points from the domain.
https://github.com/ro

[2022-08-12 14:24] bocinsky commented on #41
Hi all. Users have been reporting the same for the [ropensci/FedData](https://github.com/ropensci/FedData) package (see [ropensci/FedData/issues/88]), and I think it is a GDAL issue. GDAL 2 seems to struggle with using vsicurl to get COGs; I've had to ask users to upgrade to GDAL3.

Testing with your data:

With GDAL 2.4.2 (running on Ubuntu 20.04 from [rocker/r-ver](https://hub.docker.com/r/rocke